<h2>Form</h2>

<div class="wrapper">

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">


    <easy-library-form-field label="Input" [required]="true" [control]="input" [patternError]="regexErrors.email">
      <easy-library-input formControlName="input"></easy-library-input>
    </easy-library-form-field>

    <easy-library-form-field label="Password" [required]="true" [control]="password" [patternError]="regexErrors.password">
      <easy-library-password formControlName="password"></easy-library-password>
    </easy-library-form-field>

    <br /><br /><br />
    <app-button type="submit">Submit</app-button>

  </form>
</div>
