<h1>Books List</h1>
<easy-library-button (click)="getData()">get books</easy-library-button>
<div *ngIf="books$ | async as books">
  <mat-card *ngFor="let book of books.data" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{book.title}}</mat-card-title>
        <mat-card-subtitle>{{book.author}}</mat-card-subtitle>
        <mat-card-subtitle>{{book.available ? 'Есть в наличие': 'Нет в наличие'}}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{book.description}}
    </mat-card-content> <mat-card-actions>
      <easy-library-rating [rating]="book.rating" [starCount]="100"></easy-library-rating>
    </mat-card-actions>
  </mat-card>
  <p>{{books | json}}</p>

</div>
